<html class="sr">

{% include head.html %}

<body>
  <div class="container">

    <div class="section">
      <!-- Nav-->
      <a href="/"><img class="nav-logo" src="/images/sb-logo.svg"></a>
      <div class="nav">
        <a class='nav-item'>About</a>
        <a class='nav-item btn' href="mailto:hello@stephenbaden.dev">Say Hello</a>
      </div>
      <!-- END Nav-->
    </div>

    <!-- Hero -->
    <div class="casestudy-hero section">
      <div class="casestudy-image-container">
        <img class="casestudy-image load-hidden" src='/images/projects/{{ page.project_name }}/card.png'>
      </div>
      <div class="casestudy-details-container">
        <div class="casestudy-details-inner">
          <div class="casestudy-details">
            <h1 class="casestudy-title load-hidden">{{ page.title }}</h1>
            <p class="casestudy-description load-hidden">{{ page.headline }}</p>
            <div class='casestudy-detail-label load-hidden'>Project Type</div>
            <div class='casestudy-detail-value load-hidden'>{{ page.type }}</div>
            <div class='casestudy-detail-label load-hidden'>Role</div>
            <div class='casestudy-detail-value load-hidden'>{{ page.role }}</div>
            <div class='casestudy-detail-label load-hidden'>Agency</div>
            <div class='casestudy-detail-value load-hidden'>{{ page.agency }}</div>
            <div class='casestudy-detail-label load-hidden'>Take a look</div>
            <div class='casestudy-detail-value load-hidden'><a href="{{ page.hyperlink }}">Launch Site</a></div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Hero -->

    <!-- Intro -->
    <div class="casestudy-intro section content-row load-hidden">
      <div class="casestudy-intro-container">
        <h2 class="casestudy-content-title">{{ page.intro_title }}</h2>
        <p class="casestudy-content-text">{{ page.intro_content }}</p>
      </div>
    </div>
    <!-- END Intro -->

    <!-- Three Across -->
    <div class="section full">
      <div class="casestudy-image-three-across-container">
        <img class="casestudy-image-three-across"" src=" /images/projects/{{ page.project_name }}/three-across.png" alt="">
      </div>
    </div>
    <!-- END Three Across -->

    <!-- Content -->
    <div class="casestudy-content section content-row load-hidden">
      <div class="casestudy-content-container">
        <h2 class="casestudy-content-title">{{ page.content_1_title }}</h2>
        <p class="casestudy-content-text">{{ page.content_1 }}</p>
      </div>
    </div>
    <!-- END Content -->

    <!-- Three Across -->
    <div class="section">
      <div class="casestudy-image-squares-container">
        <img class="casestudy-image-square"" src=" /images/projects/{{ page.project_name }}/square-1.png" alt="">
        <img class="casestudy-image-square"" src=" /images/projects/{{ page.project_name }}/square-2.png" alt="">
        <img class="casestudy-image-square"" src=" /images/projects/{{ page.project_name }}/square-3.png" alt="">
      </div>
    </div>
    <!-- END Three Across -->

    <!-- Key Features -->
    <div class="casestudy-features section content-row load-hidden">
      <div class="casestudy-features-container" style='background-color: {{ page.feature_color }}'>
        <h1 class="casestudy-features-title">Key features of the final build</h1>
        <ul>
          {% for feature in page.features %}
              <li>{{ feature }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <!-- END Key Features -->

    <!-- Angle Grid -->
    {% if page.angle_grid %}
    <div class="full-row-image-container">
      <img class="full-row-image" src="/images/projects/{{ page.project_name }}/angle-grid.png" alt="">
    </div>
    {% endif %}
    <!-- END Angle Grid -->

    <!-- Content -->
    <div class="casestudy-content section content-row load-hidden">
      <div class="casestudy-content-container">
        <h2 class="casestudy-content-title">{{ page.content_3_title }}</h2>
        <p class="casestudy-content-text">{{ page.content_3 }}</p>
      </div>
    </div>
    <!-- END Content -->

    <!-- Launch Site -->
    <div class="launch-site section">
      <div class="launch-site-container">
        <a href="{{ page.hyperlink }}"><span>Launch Site</span></a>
        <img class="casestudy-bug" src="/images/projects/{{ page.project_name }}/bug.svg" alt="">
      </div>
    </div>
    <!-- END Launch Site -->


    <!-- Other Case Studies -->
    {% assign prev_case_study = site.projects | where: "title", page.prev_case_study | first %}
    {% assign next_case_study = site.projects | where: "title", page.next_case_study | first %}
    <div class="section">
      <div class="other-casestudies">
        <h1 class="other-casestudies-title">View Another Case Study</h1>
        <a href="/projects/{{ prev_case_study.project_name }}">
        <div class="other-casestudy">
          <div class="other-casestudy-content-container">
            <img src="/images/projects/{{ prev_case_study.project_name }}/card.png" alt="">
            <div class="other-casestudy-content">
              <h1 class="other-casestudy-title">{{ prev_case_study.title }}</h1>
              <p class="other-casestudy-description">{{ prev_case_study.headline }}</p>
            </div>
          </div>
        </div>
        </a>
        <a href="/projects/{{ next_case_study.project_name }}">
        <div class="other-casestudy">
          <div class="other-casestudy-content-container">
            <img src="/images/projects/{{ next_case_study.project_name }}/card.png" alt="">
            <div class="other-casestudy-content">
              <h1 class="other-casestudy-title">{{ next_case_study.title }}</h1>
              <p class="other-casestudy-description">{{ next_case_study.headline }}</p>
            </div>
          </div>
        </div>
        </a>

      </div>
    </div>
    <!-- END Other Case Studies -->
  </div>


  <script type="application/javascript">
    var slideDown = {
        distance: '10%',
        origin: 'top',
        delay: 0,
        duration: 700,
        opacity: 0,
        delay: 100
    };
    var slideUp = {
        distance: '10%',
        origin: 'bottom',
        delay: 0,
        duration: 700,
        opacity: 0,
        delay: 100
      };
    var slideRight = {
        distance: '10%',
        origin: 'left',
        delay: 50,
        duration: 700,
        opacity: 0,
        delay: 100
      };
    var slowFade = {
        // origin: 'left',
        // delay: 50,
        duration: 2000,
        opacity: 0,
        delay: 600
      };
    var normalFade = {
        // origin: 'left',
        // delay: 50,
        duration: 2000,
        opacity: 0,
        // delay: 600
      };

    ScrollReveal().reveal('.casestudy-image', slideRight);
    ScrollReveal().reveal('.casestudy-title', slideDown);
    ScrollReveal().reveal('.casestudy-description', normalFade);
    ScrollReveal().reveal('.casestudy-detail-label', normalFade);
    ScrollReveal().reveal('.casestudy-detail-value', normalFade);
    ScrollReveal().reveal('.content-row', slideUp);
  </script>
</body>

</html>
<!-- Online learning platform, Futures forecasting, Subscription Box Service, Case Management Software, Fitness Tracker -->